Domain
example.com
https://example.org
www.example.net
https://httpstat.us/404
https://httpstat.us/500
https://httpstat.us/503
https://httpstat.us/403
https://httpstat.us/401
https://httpstat.us/200
https://www.afternic.com
https://www.sedo.com
https://www.dan.com
https://www.flippa.com
https://www.hugedomains.com
https://www.google.com
https://www.github.com
https://www.wikipedia.org
https://www.cloudflare.com
https://www.npmjs.com
https://www.stackoverflow.com
https://www.reddit.com
https://www.youtube.com
https://www.amazon.com
https://www.microsoft.com
https://www.apple.com
https://www.mozilla.org
https://www.eff.org
https://www.ietf.org
https://www.w3.org
https://www.json.org
https://nodejs.org
https://www.typescriptlang.org
https://playwright.dev
https://www.postman.com
https://www.atlassian.com
https://www.slack.com
https://www.dropbox.com
https://www.spotify.com
https://www.bbc.com
https://www.nytimes.com
https://www.reuters.com
https://duckduckgo.com
https://www.archive.org
